<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Welcome Admin Home Page</h2>
	<br/>
	 <a href="map-songs">Add Song</a><br/><br/>
	 <a href="viewSongsAdminPage">View Songs</a>
	 <br/>
	 <br/>
	 <a href="createPlayListAdminHomePage">Create PlayList</a>
	 <br/>
	 <br/>
	 <a href="viewPlayListAdmin">View PlayList</a>
	 <br/>
	 <br/>
	 <a href="particularCustomerplayListViewr">View-PlayList-Customer</a>
	 <br/>
	 <a href="logout">Logout</a>
	<br>
	 
</body>
</html>