<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h1>Welcome to Tune Hub Music App </h1>
	<h2>Customer home Page</h2>
	<br/>
	<br/>
<!-- <a href="viewSongsCustomerHomePage">Explore Songs</a> -->
	<a href="viewsongs">View Songs</a>
	<br>
	<a href="viewPlayListCustomer">MyPlayList</a>
	<br>
	 <a href="viewPlayListAdmin">ViewPlayList</a>
	 <br/>
	<!-- <a href="makepayment">Make Payment</a>
	<br> -->
	<a href="createPlayListCustomerHomePage">Create PlayList</a>
	<br>
	<a href="logout">Logout</a>
	<br>
	
	
</body>
</html>