<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
  </head>
  <body>
    <main>
      <section class="section-login" id="cta">
        <div class="parent-container">
          <div class="chaild-container">
            <div class="login-form-box">
              <h2 class="heading-primary">
                Welcome To<img
                  src="./images/musichub-logo.png"
                  alt="Music-Hub Logo"
                />
              </h2>
              <h2 class="heading-secondary">Please continue to Login</h2>
              <form action="index" method="post" class="login-form">
                <div>
                  <label>Email ID </label>
                  <input
                    type="email"
                    name="email"
                    required="required"
                    placeholder="Enter Emil ID"
                  />
                </div>

                <div>
                  <label> Password </label>
                  <input
                    type="password"
                    name="password"
                    required="required"
                    placeholder="Enter Password"
                  />
                </div>
                <button class="btn btn--full">Login</button>
                <a href="map-register" class="btn btn--form">Sign up now</a>
              </form>
            </div>
            <div
              class="login-img-box"
              role="img"
              aria-label="Woman enjoying food"
            ></div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
