<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<h2>Invalid Email Id or Password Try Again</h2><br/>
	<form action="index" method="post">
		<h1>* Login *</h1>
		<label>Email ID : </label>
		<input type="email" name="email" required="required" placeholder="Emil ID"/><br/><br/>
		<label>Password : </label>
		<input type="password" name="password" required="required" placeholder="Password"/><br/><br/>
		<input type="submit" value="LOGIN"/>
	</form>
</body>
</html>