<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./style.css" />
    <title>Logout Successfully</title>
</head>
<body>
	<main>
      <section class="section-logoutsuccess">
        <div class="logoutsucess-container">
          <h1 class="pymentbutton-primary-heading logoutsucessfully-pr-heading">
            Logout Successfully
          <h2 class="pymentbutton-secondary-heading">Please Login !</h2>
          <form action="index" class="payment-form">
            <button
              type="submit"
              class="buy-button btn btn--full logoutsuccessfully-btn"
            >
              Ok
            </button>
          </form>
        </div>
      </section>
    </main>
</body>
</html>